* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background-color: rgb(141, 233, 141);
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

div.box {
  min-width: 600px;
  background-color: white;
  border-radius: 20px;
  padding: 50px;
  text-align: center;
}

/*Duvida no color*/
div.box h1{
  font-size: 22pt;
  color:rgb(27, 26, 26);
  margin: 30px 0;
}

div.box button{
  font-size: 16pt;
  padding: 10px 20px;
  border: 0;
  border-radius: 8px;
  background-color: rgb(66, 223, 66);
  color:white;
  cursor: pointer;
}

div.box div{
  font-size: 40px;
  font-family: arial black;
  letter-spacing: 5px;
  text-align: center;
  color:rgb(38, 41, 38);

}